# === ENV ===
.env

# === Node.js ===
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# === VS Code ===
.vscode/

# === OS Junk ===
.DS_Store
Thumbs.db

# === Node-RED Specific ===
/.nodered/lib/
/.nodered/flows_cred.json
